* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

/* header styles */

.banner-container {
  width: 85%;
  max-width: 1320px;
  margin: 50px auto;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  height: 600px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: Merriweather;
  /* padding: 177px 343px 16px; */
}
.celebration-text {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  font-family: Merriweather;
}

/* main body styles */

.main-div {
  width: 85%;
  max-width: 1320px;
  margin: 120px auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
/* 65% off */
.discount-text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 24px;
}
.red-paragraph {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}
.catagory-paragraph {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 48px;
}
.hny-image {
  width: 802.9px;
  height: 500px;
}
/* welcome banner */
.welcome-banner {
  /* width: 85%; */
  max-width: 1320px;
  margin: 120px auto;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  height: 600px;
  align-items: center;
  /* justify-content: center; */
  display: flex;
}

.welcome-text-div {
  padding-left: 126px;
}
.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.welcome-paragraph {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
}
.invisible-btn {
  /* color: #fff; */
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: rgba(255, 0, 0, 0);
  /* border: none; */
  color: white;
  padding: 16px 32px;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 16px; */
  /* margin: 4px 2px; */
  /* transition-duration: 0.4s; */
  cursor: pointer;
}

.div-2024 {
  padding: 108px;
}

.shopping-paragraph {
  color: rgba(7, 2, 17, 0.6);
  width: 896px;
  padding-bottom: 36px;
}

.child-div {
  display: flex;
}
.grandson-div {
  margin: 12px;
  border-radius: 16px;
}
.grandson-div:hover {
  transition: 1s;
  transform: scale(1.1);
  /* box-shadow: 2px 2px 2px #000; */
  /* z-index: 2; */
}

.portfolio-paragraph {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.Portfolio-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 22px;
}

/* subscribe part */

.sub-container {
  max-width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
  height: 616px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.sub-image {
  /* padding-top: 80px; */
}
.sub-title {
  font-family: Merriweather;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  padding-top: 40px;
}

.sub-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 22px 212px 48px 212px;
}

.input-field [type="email"] {
  border: none;
  border-radius: 50px 0 0 50px;
  width: 648px;
  height: 72px;
  padding-left: 15px;
}

.input-field > .placeholder {
  padding-left: 30px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.input-field [type="submit"] {
  font-size: 20px;
  font-family: Inter;
  cursor: pointer;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 210px;
  height: 72px;
  color: #fff;
  border: none;
}

/* footer section */

footer {
  width: 100%;
  height: 600px;
  background: #070211;
}

.footer-container{
  width: 85%;
  margin: 0 auto;
  /* padding-top: 120px; */
  /* align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; */

}

.footer-text{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.address{
  justify-content: space-between;
  display: flex;
  padding-top: 120px;
  padding-bottom: 50px;
}

.address-info{
  width: 30%;
}

.social-media{
  display: flex;
  padding: 48px 0;
  justify-content: center
}

.social-image{
  margin: 0 12px;
}

.rights-div{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 120px;
}

hr{
    height: 1px;
    background-color:  rgba(255, 255, 255, 0.15);
    border: none;
}
 